<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainlf.weixinmpserver.infra.mapper.GameMapper">

    <resultMap id="BaseResultMap" type="com.rainlf.weixinmpserver.model.Game">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="gameId" column="game_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="assetChange" column="asset_change" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="operatorId" column="operator_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Table">
        game
    </sql>

    <sql id="Base_Column_List">
        id,game_id,user_id, asset_change,type,operator_id, create_time,update_time
    </sql>
</mapper>
